################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/GEMS/Gems/Gems/x64/Debug
/GEMS/Gems/x64/Debug
*.dll
/GEMS/Debug
/GEMS/Gems/.vs/Gems
